@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital@0;1&display=swap");

* {
  font-family: "Montserrat", sans-serif;
  box-sizing: border-box;
}

body {
  background-color: #222831;
  font-family: "Poppins", sans-serif;
  margin: 0;
}

h1 {
  text-align: center;
  margin-top: 5%;
  color: white;
}

@keyframes blink-animation {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.blink {
  animation: blink-animation 2s infinite;
}

hr.slideInFromLeft {
  border: 0;
  height: 1px;
  margin-top: -5px;
  background-image: linear-gradient(
    to right,
    rgba(255, 255, 255, 0),
    rgba(255, 255, 255, 0.75),
    rgba(0, 0, 0, 0)
  );
  width: 0;
  animation: slideInFromLeft 1s ease-out forwards;
}
.box-title{
  display: flex;
  flex-direction: column;
  align-items: center;
}
@keyframes slideInFromLeft {
  0% {
    width: 0;
    left: 50%;
  }
  100% {
    width: 50%;
    left: 0;
  }
}

.message {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 0px;
}

form {
  margin-top: -20px;
}

.message input,
.message textarea {
  width: 100%;
  max-width: 500px;
  margin-top: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #f9f9f9;
  transition: border-color 0.3s, background-color 0.3s;
}

.message input:focus,
.message textarea:focus {
  outline: none;
  border-color: #555;
  background-color: #fff;
}

.message button {
  width: 100%;
  max-width: 500px;
  height: 40px;
  margin-top: 10px;
  padding: 10px;
  border: 2px solid white;
  border-radius: 8px;
  background-color: #222831;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.message button:hover {
  background-color: #fff;
  color: #222831;
}

.link-social-media {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.link-social-media a {
  margin: 0 10px;
  font-size: 30px;
  color: white;
}

.link-social-media a:hover {
  color: #898989;
}

/* Responsif */
@media (max-width: 768px) {
  nav {
    flex-direction: column;
    height: auto;
  }

  nav .a-link {
    flex-direction: column;
    margin-top: 10px;
  }

  h1 {
    font-size: 24px;
  }

  .container {
    padding: 10px;
  }

  .message input,
  .message textarea,
  .message button {
    width: 100%;
    max-width: 100%;
  }
}

@media (max-width: 480px) {
  nav {
    flex-direction: column;
    height: auto;
  }

  nav .a-link {
    flex-direction: column;
    margin-top: 10px;
  }

  h1 {
    font-size: 20px;
  }

  .container {
    padding: 10px;
  }

  .message input,
  .message textarea,
  .message button {
    width: 100%;
    max-width: 100%;
  }
}
